*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;

}
body{
    background-image: url("https://ik.imagekit.io/ykmmrc3nwl/3e694fca930e37eb61a7303ceaf9da17_document.jpeg?tr=w-1200,h-undefined");
    background-repeat: no-repeat;
    background-size:contain;
    
    

}
/* Reset some default styles */
/* header{
    background-color: black; 
    
} */
.container{
    border: 1px solid blue;
background-color:gray;
    justify-content: flex-end; 
    display: flex;
    padding: 2%;
    
}

.container a{
    text-decoration: none;
    padding: 15,16;
    margin-left:10%;
    color: #ffff;

}
    .container a:hover{
        background-color: rgb(44, 10, 170);
        color: rgb(222, 236, 23);
    } 
    
.banner{
    display: flex;
    line-height:15;
    text-align: center;
    flex-direction: column;

}
.introduction{
    text-align: center;
    text-decoration: solid;
    

}

.introduction h1{
    color: black;
    text-align: center;
    font-size: 50px;

    
    

}
.introduction p{
    text-align: center;
    color: black;
    line-height: 100px;
    word-spacing: 50%;
    font-size: 200%;
}
.introduction button{
    padding: 20px;
    height:50px;
    width: 150px;
    border-radius: 10px;
    color:#ffff;
    background-color: black;

}

